body {
    background-color: #1A1A20!important;
    margin: 0px 0px 10px 0px!important;
    padding-right: 15px!important;
    padding-left: 15px!important;
}

a{
    text-decoration: none!important;
}

.main-block {
    width: 100%;
}

.title {
    background-color: #F7F7F7;
    font-size: 50px;
    font-family: 'Francois One';
    color: #6341A5;
    margin: 0px -15px 10px -15px;
    padding: 10px 0px 10px 0px ;
}

.streams {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.twitch-stream {
    margin: 0px 0px 0px 0px;
    background-size:100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.twitch-stream .content{
    margin: 0px -15px 0px -15px!important;
    visibility: hidden;
    padding-top: 5px;
    color: white;
    background:rgba(0, 0, 0, 0.2);
}

.content p {
    margin: 10px 15px 0px 15px;
}

.twitch-stream:hover {
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.twitch-stream:hover .content{
    visibility: visible;
}

.status {
    border-radius: 25px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 10px 5px!important;
}